USE [master]
GO
/****** Object:  Database [cakepoolDB]    Script Date: 9/28/2024 10:35:47 AM ******/
CREATE DATABASE [cakepoolDB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cakepoolDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cakepoolDB]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 9/28/2024 10:35:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](50) NULL,
	[Unit] [nvarchar](15) NULL,
	[Date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 9/28/2024 10:35:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Customer] [nvarchar](50) NULL,
	[Mobile] [nvarchar](50) NULL,
	[TotalPrice] [nvarchar](50) NULL,
	[Date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 9/28/2024 10:35:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Product] [nvarchar](50) NULL,
	[Category] [nvarchar](50) NULL,
	[Unit] [nvarchar](15) NULL,
	[Quantity] [nvarchar](50) NULL,
	[Price] [nvarchar](50) NULL,
	[Date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 9/28/2024 10:35:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Product] [nvarchar](50) NULL,
	[Category] [nvarchar](50) NULL,
	[UnitPrice] [nvarchar](50) NULL,
	[Quantity] [nvarchar](50) NULL,
	[TotalPrice] [nvarchar](50) NULL,
	[Date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersData]    Script Date: 9/28/2024 10:35:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersData](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](100) NULL,
	[Role] [nvarchar](50) NULL,
	[Contact] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Category], [Unit], [Date]) VALUES (1, N'cakes', N'Kg', CAST(N'2024-08-28' AS Date))
INSERT [dbo].[Categories] ([Id], [Category], [Unit], [Date]) VALUES (4, N'breads', N'Pack', CAST(N'2024-08-28' AS Date))
INSERT [dbo].[Categories] ([Id], [Category], [Unit], [Date]) VALUES (6, N'cookies', N'Pack', CAST(N'2024-09-13' AS Date))
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [Customer], [Mobile], [TotalPrice], [Date]) VALUES (1, N'Jwalant', N'9876543210', N'3050.00', CAST(N'2024-09-15' AS Date))
INSERT [dbo].[Customers] ([Id], [Customer], [Mobile], [TotalPrice], [Date]) VALUES (2, N'Jwalant', N'9876543210', N'1500.00', CAST(N'2024-09-15' AS Date))
INSERT [dbo].[Customers] ([Id], [Customer], [Mobile], [TotalPrice], [Date]) VALUES (3, N'Bhumi', N'9876543210', N'3000.00', CAST(N'2024-09-15' AS Date))
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Product], [Category], [Unit], [Quantity], [Price], [Date]) VALUES (1, N'chocolate', N'cakes', N'Kg', N'18', N'1000', CAST(N'2024-09-03' AS Date))
INSERT [dbo].[Products] ([Id], [Product], [Category], [Unit], [Quantity], [Price], [Date]) VALUES (3, N'white bread', N'breads', N'Piece', N'50', N'200', CAST(N'2024-09-03' AS Date))
INSERT [dbo].[Products] ([Id], [Product], [Category], [Unit], [Quantity], [Price], [Date]) VALUES (4, N'strawberry', N'cakes', N'Kg', N'50', N'500', CAST(N'2024-09-11' AS Date))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Sales] ON 

INSERT [dbo].[Sales] ([Id], [Product], [Category], [UnitPrice], [Quantity], [TotalPrice], [Date]) VALUES (1, N'chocolate', N'cakes', N'1000', N'2', N'2000', CAST(N'2024-09-15' AS Date))
INSERT [dbo].[Sales] ([Id], [Product], [Category], [UnitPrice], [Quantity], [TotalPrice], [Date]) VALUES (2, N'biscoff', N'cakes', N'1500', N'3', N'4500', CAST(N'2024-09-15' AS Date))
INSERT [dbo].[Sales] ([Id], [Product], [Category], [UnitPrice], [Quantity], [TotalPrice], [Date]) VALUES (3, N'brown bread', N'breads', N'250', N'4', N'1000', CAST(N'2024-09-15' AS Date))
SET IDENTITY_INSERT [dbo].[Sales] OFF
GO
SET IDENTITY_INSERT [dbo].[UsersData] ON 

INSERT [dbo].[UsersData] ([Id], [Fullname], [Role], [Contact], [Email], [Username], [Password], [Date]) VALUES (5, N'Jwalant Dobaria', N'Manager', N'9876543210', N'jwalant.dobaria@gmail.com', N'jwalant', N'Dj@1234', CAST(N'2024-08-23' AS Date))
INSERT [dbo].[UsersData] ([Id], [Fullname], [Role], [Contact], [Email], [Username], [Password], [Date]) VALUES (6, N'bhumi bhayani', N'Cashier', N'9876543210', N'xyz@gmail.com', N'bhumi', N'Bhumi@1234', CAST(N'2024-08-23' AS Date))
INSERT [dbo].[UsersData] ([Id], [Fullname], [Role], [Contact], [Email], [Username], [Password], [Date]) VALUES (8, N'Ved Shah', N'Employee', N'9876543210', N'abc@gmail.com', N'Ved', N'Ved@12', CAST(N'2024-09-18' AS Date))
SET IDENTITY_INSERT [dbo].[UsersData] OFF
GO
USE [master]
GO
